*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: plum;  
}
.one{
    width: 1800px;
    display: flex;  
    flex-wrap: wrap;
    list-style: none; 
    gap: 145px;

}
.two{
    width: 250px;
    height: 250px;
    border-radius: 15px;
    border: 1px solid purple;
    background-color:darkorchid;
    display: flex;
   flex-wrap: wrap;
    gap: 5px;
}
.five{
    width: 50px;
    height: 50px;
     background-color: orange;
     border-radius: 10px;
     border: 1px solid orangered;
}
.three{
    width: 250px;
    height: 250px;
    border-radius: 15px;
    border: 1px solid purple;
    background-color: darkorchid;
    display: block;
    gap: 10px;
}
.six{
    width: 250px;
    height: 250px;
    border-radius: 15px;
    border: 1px solid purple;
    background-color: darkorchid;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.paid{
    width: 250px;
    height: 250px;
    border-radius: 15px;
    border: 1px solid purple;
    background-color: darkorchid;
    display: flex;
    justify-content: space-around;
}
.class{
    width: 250px;
    height: 250px;
    border-radius: 15px;
    border: 1px solid purple;
    background-color: darkorchid;
    display: flex;
    justify-content: flex-start; 
    gap: 10px;
}
.first{
    width: 250px;
    height: 250px;
    border-radius: 15px;
    border: 1px solid purple;
    background-color: darkorchid;
    display: flex;
    justify-content: flex-end; 
    gap: 10px;
}
.to{
    width: 250px;
    height: 250px;
    border-radius: 15px;
    border: 1px solid purple;
    background-color: darkorchid;
    display: flex;
    justify-content: center; 
    gap: 10px;
}
.said{
    width: 250px;
    height: 250px;
    border-radius: 15px;
    border: 1px solid purple;
    background-color: darkorchid;
    display: flex;
    justify-content: center; 
    align-items: end;
    gap: 10px;   
}
.daid{
    width: 250px;
    height: 250px;
    border-radius: 15px;
    border: 1px solid purple;
    background-color: darkorchid;
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 10px;
}